/**
 * Stylesheet zur Klasse PageOverview: Startseite der App
 */

.tile {
    display: inline-block;

    border: 1px solid lightgrey;
    background: rgba(250, 250, 250);
    padding: 0.5em;
    margin: 0.5em;

    transition: transform 0.5s, background 0.5s;
    transform: scale(1);
}

/*.tile img {
    width: 20em;
    height: 20em;
    max-width: 100%;
    object-fit: cover;
    display: block;
}*/

a {
    text-decoration: none;

}

.tile a,
.tile a:visited {
    color: black;
    text-decoration: none;
}

.tile:hover {
    background: white;
    transform: scale(1.01) rotate(0.5deg);
    cursor: pointer;
}



/*Card-Layout*/
/*#city:hover {
    filter: grayscale(50%);
}

#city {
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    border-radius: 5px;
}
.card {
    background-color: transparent;
    width: 400px;
    height: 450px;
    border: 1px solid white;
    perspective: 1000px;
    float: left;
    margin: 5%;
    transition: 2s;
}

.cardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.card:hover .cardinner {
    transform: rotateY(180deg);
}

.cardback,
.cardfront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardfront {
    background-color: #bbb;
    color: black;
}

.cardback {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
.card:nth-of-type(3) {
    clear: both;
}
*/


